/* ------ Classes Fonts ------ */
.poppins-light {font-family: "Poppins-Light";}
.poppins-medium {font-family: "Poppins-Medium";}
.poppins-regular {font-family: "Poppins-Regular";}
.poppins-bold {font-family: "Poppins-Bold";}

/* ------ Classes Cores ------ */
.cinza-escuro {color: #333333}

/* ------ Body ------ */
body {
  box-sizing: border-box;
  margin: auto !important;
  max-width: 1617px !important;
}

/* --------- INICIO HEADER --------- */

/* --- Imagem Navbar --- */
.img-contrucao {
  width: 255px;
  height: 60px;  
  object-fit: contain;
  margin: 25px 78px 0 25px;      
}

/* --- Inicio Navbar --- */
header .navbar {padding-top: 50px !important;}

/* Toggler-Mobile */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

header .nav-link {
  color: #333333;
  font-size: 14px;  
}

.navbar-espacamento-interno {gap: 17px}

header .nav-link {
  border-bottom: 6px solid white !important;
  padding: 0px !important;
  padding-bottom: 20px !important;
}

header .nav-link:hover {
  border-bottom: 6px solid black !important;
  transition-duration: 0.5s;
}

header .dropdown-menu {
  background-color: rgba(51, 51, 51, 0.91);
  font-size: 14px;    
}

header .dropdown-divider {
  background-color: rgba(255, 255, 255, 0.40) !important;
  height: 2px;
  opacity: 1;
}

header .dropdown-item {
  width: 230px;
  white-space: normal !important;       
}

header .dropdown-item:hover {  
  transition-duration: 0.1s !important;
  background-color: transparent !important;  
  font-family: "Poppins-Bold";   
}

.sombreamento {box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.75)}
/* --- Fim Navbar --- */

/* --- Inicio Carousel --- */
.carousel-item {
  max-height: 645px !important;
  height: 40vw !important;
  min-height: 259px !important;  
}

.carousel-item img{ 
  width: 100% !important;
  height: 100% !important;  
  object-fit: cover !important; 
}

.carousel-indicators {
  gap: 5px; 
  margin-bottom: 41px;  
}

.carousel-button {
  width: 71px !important;
  height: 13px !important;  
  opacity: 1 !important;
}

.carousel-indicators .active {
  background-color: #f9963b !important;
}
/* --- Fim Carousel --- */

/* --------- FIM HEADER --------- */


/* --------- INICIO MAIN --------- */

/* ------ Inicio Area Bem-vindo ------ */
.separador-main {
  width: 78px;
  height: 3px;
  color: #f9963b;
  background-color: #f9963b;
  border-width: 0;
  opacity: 1;  
}

.espacamento-separador-main {margin: 52px 0 46px 0;}
.titulo-main {
  font-size: 38px;
  line-height: 58px;
}
.espacamento-texto-main {padding: 64px 0 55px 0;}
.texto-main {font-size: 18px;}

.botao-ver-mais {
  width: 194px;
  height: 46px;    
  background-image: url("../images/buttons_icons/VerMais1.svg");
  background-repeat: no-repeat;
  background-size: contain; 
  font-family: "Poppins-regular"; 
}

.botao-ver-mais:hover {
  background-image: url("../images/buttons_icons/VerMais1Hover.svg");
  color: white !important;
}

.espacamento-separador-main-2 {padding: 115px 0 46px 0;}
/* ------ Fim Area Bem-vindo ------ */

/* ------ Inicio Area Cards ------ */
.espacamento-cards-main {padding-bottom: 64px;}
.card-top {max-height: 550px !important;}
.img-card {height: 225px;}
.titulo-card {font-size: 25px;}
.espacamento-titulo-card {padding: 23px 26px 20px 26px;}

.texto-card {  
  height: 66px;    
  font-size: 18px;
  padding: 0 26px 0px 26px;
  margin-bottom: 0px;
}

.card {
  border: 0;  
  border-radius: 0px !important;  
}

.card-top {margin-bottom: 55px !important;}
.card-body {border: 1px solid #333333;}

.botao-ver-mais-card {
  width: 128px;
  height: 35px;
  background-image: url("../images/buttons_icons/VerMais2.svg");
  background-repeat: no-repeat;
  background-size: contain; 
  position: absolute;
  bottom: -17px; 
  font-size: 12px;   
}

.botao-ver-mais-card:hover {
  background-image: url("../images/buttons_icons/VerMais2Hover.svg");
  color: white !important;
}
/* ------ Fim Area Cards ------ */

/* --------- FIM MAIN --------- */


/* --------- INICIO FOOTER --------- */

/* ------ Inicio Area Contactos ------ */
.espacamento-footer-top {margin-top: 112px;}

.img-fundo-contactos {      
  background-image: url("../images/desktop/FooterContactos.png");  
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center;  
}

.filtro-img {background-color: rgba(0,0,0, 0.6);}

.separador-footer-top {
  opacity: 1;
  width: 78px;
  height: 3px;
  color: white;
  background-color: white;  
  margin: 132px auto 56px;
}

.img-contactos {
  width: 75px;
  height: 75px;
  margin-bottom: 47px;
}

.titulo-contactos {
  font-size: 43px;
  margin-bottom: 98px;
}

.texto-contactos {
  font-size: 25px;  
  margin-bottom: 78px;     
}

.contactos-mail {word-break: break-all;}
/* ------ Fim Area Contactos ------ */


/* ------ Inicio Area Mapa ------ */
.espacamento-mapa {margin: 30px 0;}
.img-mapa {height: 513px;}
/* ------ Fim Area Mapa ------ */


/* ------ Inicio Area Siga-nos ------ */
.img-fundo-facebook {       
  background-image: url("../images/desktop/FooterFacebook.png");  
  background-size: cover;   
  background-repeat: no-repeat;
  background-position: center;   
}

.img-facebook {
  width: 100px;
  height: 100px;
  margin: 94px 0 45px;
}

.titulo-facebook {
  font-size: 29px;
  margin-bottom: 80px;  
}

.separador-footer-bot {
  height: 1px;
  color: white;
  background-color: white;
  opacity: 1;  
}

footer .nav-link {color: white;} 
footer .nav-link.active {color: #f9963b !important;}
footer .nav-link:hover {color: #f9963b;} 
footer .nav-item {font-family: "poppins-bold";}

footer .navbar-nav {
  gap: 17px;
  margin: 55px 0px 55px 0;  
}

.texto-copy {
  margin-bottom: 19px;
  font-size: 15px;
}
/* ------ Fim Area Siga-nos ------ */
/* --------- FIM FOOTER --------- */

/* ------ Media Queries 1200>  ------ */
@media screen and (max-width: 1200px) {

  /* --- Navbar --- */
  .img-contrucao {
    width: 180px !important;
    margin: 10px 25px 10px 37px !important;
  }
  header .nav-link {font-size: 12px !important;}
  /* --- Fim Navbar --- */

}

/* ------ Media Queries 991>  ------ */
@media screen and (max-width: 991px) { 

  /* --- Navbar --- */
  #espacamento-navbar-butao-mobile {padding: 22px 10px 22px 0px !important;}

  .navbar-mobile {
    position: absolute;
    right: 0;    
    align-items: flex-start !important;
    top: 82px;           
    background-color: rgba(51, 51, 51, 0.75);  
    gap: 0 !important; 
    width: 100vmin;
    min-width: 350px;  
    transition-duration: 0.5s;         
  }

  header .nav-item {
    width: 100%;
    border-bottom: 1px solid white !important;         
  }

  #nav-link-mobile {
    padding-bottom: 0 !important;
    color: white !important;
    border-bottom: 0 !important;
    margin: 13px 36px 13px 36px !important;
    font-size: 14px !important;       
  }

  #nav-link-mobile:hover {font-family: "Poppins-Bold";}

  .dropdown-menu-mobile {
    background-color: white !important;
    padding: 20px 0 18px 0;    
  }

  header .dropdown-item {
    color: black !important;    
    margin: 0 55px 0 55px; 
    padding: 0 !important;      
  }

  header .dropdown-item:hover {     
    color: #f9963b !important;
    font-family: "Poppins-Regular";
  }

  .dropdown-divider-mobile {
    max-width: 90% !important;
    margin: 13px 50px 13px 55px;
  }
  /* --- Fim Navbar --- */

  /* --- Carousel --- */
  .carousel-button {
    width: 35px !important;
    height: 7px !important;    
  }

  .carousel-indicators {
    margin-bottom: 22px !important;
    gap: 2px;
  }
  /* --- Fim Carousel --- */

  /* --- Titulo/Texto Main --- */
  .titulo-main {font-size: 30px !important;}
  .texto-main {font-size: 16px !important;}
  /* --- Fim Titulo/Texto Main --- */
 
  /* --- Botão Ver Mais Main --- */
  .botao-ver-mais {
    width: 120px !important;
    height: 40px !important;
    font-size: 11px;  
    padding-bottom: 10px;      
  }

  .texto-card {font-size: 16px !important;}
  .botao-ver-mais-card {
    width: 104px !important;
    height: 40px !important;
    bottom: -25px !important;
    padding-bottom: 10px !important;
  }
  /* --- Fim Botão Ver Mais Main --- */

  /* --- Contactos Footer --- */
  .espacamento-footer-top {margin-top: 30px;}
  .separador-footer-top {
    width: 47px !important; 
    margin: 60px auto 22px !important;   
  }

  .titulo-contactos {
    font-size: 20px !important;
    margin-bottom: 36px !important;
  }

  .texto-contactos {
    font-size: 17px !important;
    margin-bottom: 35px;
    padding: 0 34px;  
    line-height: normal;
  }
  .contactos-mail {
    margin-bottom: 55px !important;
  }
  .img-contactos {
    width: 42px !important;
    height: 42px !important;
    margin-bottom: 18px !important;
  }
  /* --- Fim Contactos Footer --- */

  /* --- Mapa Footer --- */
  .espacamento-mapa {margin: 11px 0 6px 0 !important;}
  .img-mapa {max-height: 323px !important;}
  /* --- Fim Mapa Footer --- */

  /* --- Siga-nos Footer --- */
  .img-facebook {
    width: 42px !important;
    height: 42px !important;
    margin: 65px 0 25px 0 !important;
  }

  .titulo-facebook {    
    font-size: 18px !important;
    margin-bottom: 70px !important;  
  }

  .texto-copy {
    font-size: 10px !important;
    text-align: center !important;  
    padding: 12px 55px 0 55px !important;
    margin-bottom: 15px;
  }
  /* --- Fim Siga-nos Footer --- */
}

/* ------ Media Queries 768>  ------ */
@media screen and (max-width: 768px) { 

  /* --- Titulo/texto Main --- */
  .separador-main {width: 47px !important;}  
  .espacamento-separador-main {margin: 30px 0 20px 0 !important;}
  .titulo-main {
    font-size: 20px !important;
    line-height: normal;
  }
  .texto-main {font-size: 13px !important;}
  .espacamento-texto-main {padding: 30px 0 34px 0 !important;}
  .espacamento-separador-main-2 {padding: 72px 0 20px 0 !important;}
  .botao-ver-mais {font-size: 10px;}
  /* --- Fim Titulo/texto Main --- */

  /* --- Area Cards Main --- */
  #card-mobile {height: 385px !important;}
  .img-card {height: 210px;}
  .espacamento-cards-main {padding-bottom: 28px;}
  .titulo-card {font-size: 17px !important;}
  .espacamento-titulo-card {padding: 20px 26px 10px 26px;}
  .texto-card {
    font-size: 13px !important;    
  }
  .botao-ver-mais-card {font-size: 9px;}
   
  /* --- Fim Area Cards Main --- */  
}
