body {
  text-align: center;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

h3 {
  word-break: break-all; 
}

header, footer {
  background-color: orange;
  height: 50px;
  padding: 30px;
  margin-bottom: 20px;
}

.produtos {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.produtos > div { 
  width: 200px; 
  height: 325px;
  border: 2px solid blue;
  border-radius: 30px;
}

.produtos img {
  width: 200px;
  border-radius: 30px 30px 0 0;
}

.produtos > div h3:last-of-type {color: red;}

.produtos .destacar{
  border: 2px solid red;
  background-color: yellow;
}