.pai {
    border: 3px solid black;
    width: 300px;
    margin: 40px auto;
    text-align: center;
    background-color: blue;
}

.filho {
    border: 2px solid black;
    margin: 10px;
    background-color: lightgreen;
}

#pai-1 > .filho-1:hover ~ .filho-5 {
    background-color: red;
}

#pai-2 > .filho-1:hover ~ .filho {
    background-color: red;
}

#pai-3 > .filho:hover ~ .filho {
    background-color: red;
}

#pai-4 > .filho-5:hover ~ .filho-1 {
    background-color: red;
}
