body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {text-align: center;}

.pai {
    width: 400px;
    height: 200px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    font-size: 20px;    
}

.mensagem {
    border: 3px solid black;
    background-color: lightgreen;
}

.alerta {
    background-color: yellow;
    border: 3px dashed red;
    border-radius: 20px;
    padding: 20px;
}

.mensagem > .alerta {background-color: pink;}

.mensagem.alerta {
    background-color: blue;
    border: 15px double pink;
    color: white;
    border-radius: 50px;
}